{% extends 'emails/base.html.twig' %}

{% set url = url('page_reset', {uid: user.resetPasswordToken}) %}

{% block body %}
    Bonjour <b>{{ user.username }}</b>,
    <br>
    <br>
    Vous avez demandé à réinitialiser votre mot de passe sur <span style="color: #ff4d4d;">Streemi</span>.
    <br>
    <br>
    Pour procéder, veuillez cliquer sur le lien suivant : <a href="{{ url }}" style="font-weight: bold">Réinitialiser mon mot de passe</a>
    <br>
    <br>
    Cordialement,
    <br>
    L'équipe <span style="color: #ff4d4d;">Streemi</span>.
    <br>
    <br>
    <div style="font-size: 0.8rem; color: #999;">
        Si vous ne parvenez pas à cliquer sur le lien, copiez-collez l'URL suivante dans votre navigateur : <a href="{{ url }}">{{ url }}</a>
    </div>
{% endblock %}