{% extends 'emails/base.html.twig' %}

{% block body %}
    <br>
    <br>
    <br>
    Bonjour <b>{{ user.username }}</b>,
    <br>
    <br>
    Nous vous informons que votre mot de passe a été récemment modifié sur <span style="color: #ff4d4d;">Streemi</span>.
    <br>
    <br>
    Cordialement,
    <br>
    L'équipe <span style="color: #ff4d4d;">Streemi</span>.
{% endblock %}